<a href="https://colab.research.google.com/github/shivashankarkammari/PySpark/blob/main/6_SqlFunctionsInPyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 4.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=ecb754f2391ec6d468226ce3d5389e2738519f01146a4798abc9ade8da466fa5
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Functions").getOrCreate()

In [ ]:
from pyspark.sql.functions import *

data=[("James","Bond","100",None),
      ("Ann","Varsa","200",'F'),
      ("Tom Cruise","XXX","400",''),
      ("Tom Brand",None,"400",'M'),
      ("cristiano",None,None,None),
      ("Rohit",None,None,None)]

columns=["fname","lname","id","gender"]
df1=spark.createDataFrame(data,columns)

df.printSchema()

root
 |-- fname: string (nullable = true)
 |-- lname: string (nullable = true)
 |-- id: string (nullable = true)
 |-- gender: string (nullable = true)



**char_length(col(columnName))**---> gives length of element in column

In [ ]:
df1.select(col("fname"),char_length(col("fname")).name("char count")).show()

+----------+----------+
|     fname|char count|
+----------+----------+
|     James|         5|
|       Ann|         3|
|Tom Cruise|        10|
| Tom Brand|         9|
| cristiano|         9|
|     Rohit|         5|
+----------+----------+

**concat(col(colName),col(colNAme))** --> combines elements of the columns

In [ ]:
df1.select(col("fname"),col("lname"),concat(col("fname"),col("lname")).alias("FullName")).show()

+----------+-----+-------------+
|     fname|lname|     FullName|
+----------+-----+-------------+
|     James| Bond|    JamesBond|
|       Ann|Varsa|     AnnVarsa|
|Tom Cruise|  XXX|Tom CruiseXXX|
| Tom Brand| NULL|         NULL|
| cristiano| NULL|         NULL|
|     Rohit| NULL|         NULL|
+----------+-----+-------------+

**concat_ws(col(colName),sepeartor)** --> concates the elements of cols with the give seperator

In [ ]:
df1.select(concat_ws("_",col("fname"),col("lname")).alias("Full_name")).show()

+--------------+
|     Full_name|
+--------------+
|    James_Bond|
|     Ann_Varsa|
|Tom Cruise_XXX|
|     Tom Brand|
|     cristiano|
|         Rohit|
+--------------+

**lcase(col(ColName))/lower(col(colName))**---> converts the col elements to lower case.

In [ ]:
df1.select(lcase(col("fname")).alias("LowerFName")).show()

+----------+
|LowerFName|
+----------+
|     james|
|       ann|
|tom cruise|
| tom brand|
| cristiano|
|     rohit|
+----------+

**ucase(col(colName))/upper(col(colName))** -- > converts the col elements to upper case.

In [ ]:
df1.select(ucase(col("fname"))).show()

+------------+
|ucase(fname)|
+------------+
|       JAMES|
|         ANN|
|  TOM CRUISE|
|   TOM BRAND|
|   CRISTIANO|
|       ROHIT|
+------------+

**left(col(colName),numberofchar)/**

**right(col(colName),numberofchar)**-->extracts the number of char from col elements from left.

here when defining the number of char to be extracted we need to use the lit(n) as it takes the col type.

In [ ]:
df1.select(left(col("fname"),lit(3))).show()
df1.select(right(col("fname"),lit(3))).show()

+--------------+
|left(fname, 3)|
+--------------+
|           Jam|
|           Ann|
|           Tom|
|           Tom|
|           cri|
|           Roh|
+--------------+

+---------------+
|right(fname, 3)|
+---------------+
|            mes|
|            Ann|
|            ise|
|            and|
|            ano|
|            hit|
+---------------+

**ltrim(col(colName))**

**rtrim(col(colName))**

removes the spaces fro the elements of columns.

In [ ]:
data=[("            James","Bond","100",None),
      ("            Ann","Varsa","200",'F'),
      ("            Tom Cruise","XXX","400",''),
      ("             Tom Brand",None,"400",'M'),
      ("               cristiano",None,None,None),
      ("                                     Rohit",None,None,None)]

columns=["fname","lname","id","gender"]
df=spark.createDataFrame(data,columns)
df.show()

+--------------------+-----+----+------+
|               fname|lname|  id|gender|
+--------------------+-----+----+------+
|               James| Bond| 100|  NULL|
|                 Ann|Varsa| 200|     F|
|            Tom C...|  XXX| 400|      |
|             Tom ...| NULL| 400|     M|
|               cr...| NULL|NULL|  NULL|
|                 ...| NULL|NULL|  NULL|
+--------------------+-----+----+------+

In [ ]:
df.select(ltrim(col("fname"))).show()

+------------+
|ltrim(fname)|
+------------+
|       James|
|         Ann|
|  Tom Cruise|
|   Tom Brand|
|   cristiano|
|       Rohit|
+------------+

**Repeat(col(colName))**

In [ ]:
df1.select(repeat(col("fname"),2)).show()

+--------------------+
|    repeat(fname, 2)|
+--------------------+
|          JamesJames|
|              AnnAnn|
|Tom CruiseTom Cruise|
|  Tom BrandTom Brand|
|  cristianocristiano|
|          RohitRohit|
+--------------------+